<div class='post-box'>
  <div class='post-content'><%= post.body %></div>
  <div class='post-details'>
    <div class='post-creator'>
      <span>Created by <span class='bold'><%= post.creator.name %></span></span>
    </div>
    <div class='post-time italic'><%= post.friendly_time %></div>
  </div>
</div>