<span class='header'>Submit a new message</span>
<div class='form-group new-post-form'>
<%= form_for @post do |f| %>
  <div class='post-creator-entry'>
    <span>Your Name: </span>
    <span class='entry'><%= f.text_field :creator, class: 'form-control' %></span>
  </div>
  <div class='post-body-entry'>
    <span>Enter your message here:</span>
    <span class='entry'><%= f.text_area :body, class: 'form-control' %></span>
  </div>
  <div class='form-group'><%= f.submit 'Post your message', class: 'btn btn-primary' %></div>
<% end %>
</div>