// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-post-form,
.post{
  border-style: solid;
  border-width: 1px;
  box-shadow: 5px 5px;
  width: 400px;
  padding: 10px;
  margin: 10px;
}

.new-post-form input {
  float: right;
}

.new-post-form textarea {
  width: 100%;
}

.post-details div {
  display: inline;
}

.post-time {
  float: right;
  font-style: italic;
}

.header {
  font-size: 20px;
  font-style: bold;
}